<div class="default_form container">
  <h1>Blog content</h1>
  <div class="blogs_list row">
    <% unless @blog.user_id == current_user.id %>
      <div class="input_column col-xs-12"><%= @blog.user.name %>さんの投稿</div>
    <% end %>
    <div class="col-xs-12 col-md-6">
      <%= image_tag @blog.image %>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="input_column row">#<%= @blog.title %></div>
      <div class="input_column row"><%= @blog.content %></div>

      <% if @blog.user_id == current_user.id %>
        <span><%= link_to "編集", edit_blog_path(@blog.id), class: "btn" %></span>
        <span><%= link_to "削除", blog_path(@blog.id), method: :delete, data: {confirm: "本当に削除していいですか？"}, class: "btn" %></span>
      <% else %>
        <% if @favorite.present? %>
          <%= link_to favorite_path(id: @favorite.id), method: :delete do%>
            <span id ="no_border_no", class="btn"><i class="fas fa-heart"></i>&nbsp;お気に入り解除</span>
          <% end %>
        <% else %>
          <%= link_to favorites_path(blog_id: @blog.id), method: :post do %>
            <span id ="no_border_yes", class="btn"><i class="far fa-heart"></i>&nbsp;お気に入り登録</span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
