<div class="default_form container">
  <div class="your_info row">
    <h1>Your information</h1>
    <ul>
      <li><i class="far fa-user"></i>&emsp;<%= @user.name %></li>
      <li><i class="far fa-envelope"></i>&emsp;<%= @user.email %></li>
      <li><i class="fas fa-cogs"></i>&emsp;<%= link_to 'プロフィール画像の設定', edit_user_path(@user) %></li>
    </ul>
  </div>

  <div class="blogs_list row">
    <h1>Your blogs</h1>
    <div class="photo_column col-xs-12">
      <% @user.blogs.all.each do |blog| %>
          <div class="photos">
            <%= image_tag blog.image %>

            <p class="options">
              <span><%= link_to "詳細確認", blog_path(blog.id), class: "grey_btn" %></span>
            </p>
          </div>
      <% end %>
    </div>
  </div>
</div>


<!-- <%#= image_tag @user.profile_picture %> -->
